@import "./normalize.css";
html {
  overflow-y: scroll;
}
:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 18px;
    --line-height: 1.5;
    overflow-y: auto;
    overflow-x: hidden;
}
:root body {
  position: absolute;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetice Neue", "YaHei";
    user-select: none;
    background: var(--color-background);
    color: var(--color-text);
    width: 100vw;
    overflow: hidden;
    max-width: 100%;
}

a {
    color: var(--color-text);
    text-decoration: none;
}
